
body {
    font-family: 'Red hat mono';
    width: 90vh;
    margin: auto;
}

h1 { text-align: center; }

#tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}

#instruction {
    margin: 0;
    font-size: .9rem;
}

#radios {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

#container {
    display: grid;
    width: 90vh;
    height: 90vh;
    border: 1px solid darkgray;
    margin: auto;
}

button {
    font-family: 'Red hat mono';
    padding: 8px 16px;
    margin-bottom: 0 0 0 auto;
}

